<nav class="sidebar">
  <ul>
    <li><a routerLink="/inicio"><i class="fas fa-home"></i> Inicio</a></li>
    <li><a routerLink="/facturas/listar-facturas"><i class="fas fa-file-invoice-dollar"></i> Mis Facturas</a></li>
    <li><a routerLink="/listar-pagos"><i class="fas fa-history"></i> Historial de pagos</a></li>
    <li><a routerLink="#"><i class="fas fa-question-circle"></i>Informacion</a></li>
  </ul>
  <div class="user-info" *ngIf="user; else loginTemplate">
    <i class="fas fa-user"></i>
    <span>{{ user.name }}</span>
    <a (click)="logout()" class="logout">Desconectar</a>
  </div>
  <ng-template #loginTemplate>
    <div class="user-info">
      <i class="fas fa-user"></i>
      <span>No hay usuario</span>
      <div class="login-container">
        <form (ngSubmit)="onSubmit()">
          <button type="submit">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </ng-template>
</nav>

