<nav class="sidebar">
  <ul>
    <li><a routerLink="/inicio"><img src="home_icon.png" alt="Inicio"> Inicio</a></li>
    <li><a href="/listar-facturas"><img src="facturas_icon.png" alt="Mis Facturas"> Mis Facturas</a></li>
    <li><a href="/listar-pagos"><img src="historial_icon.png" alt="Historial de pagos"> Historial de pagos</a></li>
    <li><a href="#"><img src="pqr_icon.png" alt="Reportes"> Mis reportes</a></li>
  </ul>
  <div class="user-info">
    <img src="user_icon.png" alt="User">
    <span>No hay usuario</span>
    <a routerLink="/seguridad/indentificar-usuario" class="logout">Iniciar Sesion</a>
  </div>
</nav>
