<main class="main-content">
    <h1>¡Bienvenido al sistema para la gestión de facturas de servicios públicos en la ciudad de Manizales!</h1>
    <div class="info-cards">
      <div class="card">
        <div class="card-icon">1</div>
        <div class="card-text">
          <h2>Mis Facturas</h2>
          <p>Registre sus servicios públicos para realizar el pago de sus facturas fácil y rápido!</p>
        </div>
      </div>
      <div class="card">
        <div class="card-icon">2</div>
        <div class="card-text">
          <h2>Historial de pagos</h2>
          <p>Consulte su historial de pagos para conocer sus consumos y gastos en el tiempo</p>
        </div>
      </div>
      <div class="card">
        <div class="card-icon">3</div>
        <div class="card-text">
          <h2>Reportes</h2>
          <p>Se hara un reporte sobre sus pagos, se mostrara que dia realizo el pago o que facturas tiene pendientes.</p>
        </div>
      </div>
    </div>
  </main>