<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="./app.component.css" rel="stylesheet" />
  <title>Facturas Manizales</title>
</head>
<body>
  <div class="container">
    <header>
      <span class="title">Facturas Manizales</span>
    </header>
    <div class="content">
      <nav class="sidebar">
        <ul>
          <li><a href="#"><img src="home_icon.png" alt="Inicio"> Inicio</a></li>
          <li><a href="#"><img src="facturas_icon.png" alt="Mis Facturas"> Mis Facturas</a></li>
          <li><a href="#"><img src="historial_icon.png" alt="Historial de pagos"> Historial de pagos</a></li>
          <li><a href="#"><img src="pqr_icon.png" alt="Mis PQRs"> Mis PQRs</a></li>
        </ul>
        <div class="user-info">
          <img src="user_icon.png" alt="User">
          <span>No hay usuario</span>
          <a href="#" class="logout">Iniciar Sesion</a>
        </div>
      </nav>
      <main class="main-content">
        <h1>¡Bienvenido al sistema para la gestión de facturas de servicios publicos en la cuidad de manizales!</h1>
        <div class="info-cards">
          <div class="card">
            <div class="card-icon">1</div>
            <div class="card-text">
              <h2>Mis Facturas</h2>
              <p>Registre sus servicios publicos para realizar el pago de sus facturas facil y rapido!</p>
            </div>
          </div>
          <div class="card">
            <div class="card-icon">2</div>
            <div class="card-text">
              <h2>Historial de pagos</h2>
              <p>Consulte su historial de pagos para conocer sus consumos y gastos en el tiempo</p>
            </div>
          </div>
          <div class="card">
            <div class="card-icon">3</div>
            <div class="card-text">
              <h2>Mis PQRs</h2>
              <p>Realice sus peticiones, quejas y reclamos en nuestro sistema unificado</p>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <span>CodeCraze 2024 - Universidad de Caldas</span>
    </footer>
  </div>
</body>
</html>

